<div class="row" style="width: 300px">
  <div class="col-12">
    <figure class="figure" style="height:542px; padding: 20px; background-color: white;">
       <%= image_tag product.image.tiny %>
      <figcaption class="figure-caption">
        <h3><%= product.name %></h3>
        <br>
        <p><%= product.description %>
        
        <h4>Total quantity: <%= quantity %></h4>
      </figcaption>
    </figure>
  </div>
</div>